footer
 div(class='footer')
  div(class='footer-1')
   label(for='newsletter') Sign up to our Newsletter
   input(type='email' name='newsletter' placeholder='EMAIL ADDRESS' size='23')
   input(type='submit' name='newsletter' value='SIGN UP')
   p(class='follow') Follow us
   a(href='https://www.facebook.com/'): img(src='images/f.png' alt='facebook')
   a(href='https://twitter.com/BonVoyagePL'): img(src='images/t.png' alt='twitter')
   a(href='https://www.instagram.com/'): img(src='images/fg.png' alt='instagram')
   a(href='https://pl.pinterest.com/'): img(src='images/p.png' alt='pinterest')
  div(class='footer-2')
   ul
    li(class='title') Navigation
    li  New Releases
    li Pre-Orders
    li Bestsellers
    li Features
    li Merchandise
    li Genres
    li Labels
    li Sales
  div(class='footer-3')
   ul
    li(class='title') Service
    li Shoping Info
    li FAQs
    li Help&amp;Support
    li Contactus
  div(class='footer-4')
   ul
    li(class='title') Company
    li About Us
    li Newsletter
    li Gift Voucher
  div(class='footer-5')
   ul
    li(class='title') Contact Nitro Digital
    li Nitro Digital
    li Second Floor, Exbud Building
    li al Solidarnosci 34
    li Kielce, Kielce
    li Tel: +41 (0) 123 456 7890
    li contact@nitro-digital.com
 div(class='footer-6')
   ul
    li(class='copyright') Copyright &copy; 2015 Nitro Digital Ltd.
    li(class='privacy') Privacy and Legal
    li(class='terms') Terms &amp; Conditions
    li(class='secure'
    ) Secure Payments
    li(class='visa'): img(src='images/1.png' alt='visa')
    li(class='visa'): img(src='images/2.png' alt='american express')
    li(class='visa'): img(src='images/3.png' alt='MasterCard')
    li(class='visa'): img(src='images/4.png' alt='Maestro')
    li(class='visa'): img(src='images/5.png' alt='PayPal')