head
	meta(http-equiv='Cotent-Type')/
	meta(charset='UTF8')/
	meta(http-equiv='X-UA-Compatible' content="IE=edge,chrome=1")/
	title Voucher
	link(rel='stylesheet' type='text/css' href='sass/stylesheets/styles.css')/
	link(rel='stylesheet' type='text/css' href='sass/stylesheets/styles.selectBox.css')/
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet')/
	style
		include style.css