header
 ul(class="left")
   li(class='you') Your Crate (1)
   li(class='wishlist') Wishlist (2)
   li(class='account') Account
   li(class='newsletter') Newsletter
   li(class='worldwide') Worldwide Shipping
 ul(class="menu")
   li: a(href='' class='releases'): nobr NEW RELEASES
   li: a(href='' class='preorders'): nobr PRE-ORDERS
   li: a(href='' class='bestsellers') BESTSELLERS
   li: a(href='' class='features') FEATURES
   li: a(href='' class='merchandise') MERCHANDISE
   li: a(href='' class='genres') GENRES
   li: a(href='' class='labels') LABELS
   li: a(href='' class='sale') SALE
   li(class='search'): input(type='search' placeholder='SEARCH' class='enter')
   li(class='search'): input(type='submit' value='SEARCH' class='enter')
 nav
  ul
   li: a(href='' class='books'): nobr BOOKS AND MAGS
   li: a(href='' class='clothing') CLOTHING
   li: a(href='' class='film') FILM
   li: a(href='' class='equpment') EQUPMENT
   li: a(href='' class='gift'): nobr GIFT VOUCHERS