
span.customSelect {
	margin: 7px 0 7px 6px;
    background: url(../plugin/jquery.customSelect-master/customSelect-arrow.gif);
    font-size: 12px;
    background-color: #f3f3f0;
    color: #7c7c7c;
    padding: 10px 0px;
    border: none;
    width: 459px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: 432px 17px;
    background-size: 9px;
	}

span.customSelect.changed {
	background-color: #f3f3f0;

}
span.customSelectInner{width: 300px;
position: relative;
left: 10px;}

.customSelectInner {}


